## OpenAI
# Requis
OPENAI_API_KEY=change-moi

# Optionnel (laisser vide pour l'API OpenAI officielle)
OPENAI_BASE_URL=

# Modèle (tu peux mettre ici gpt5.1)
MODEL=gpt5.1

## App
VERBOSE=true
TIMEOUT=600
